<!DOCTYPE html>
    <html lang="ru-RU"; style="background-color:DimGray;">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Рабочий стол агента</title>
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'css/my_css.css' %}" type="text/css">
            {% block extrahead %}
            <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

<!--            <script type="text/javascript" src="/admin/jsi18n/"></script>-->
<!--            <script type="text/javascript" src="/static/admin/js/calendar.js"></script>-->
<!--            <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>-->
<!--            <script type="text/javascript" src="/static/admin/js/core.js"></script>-->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
            <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
            {% endblock extrahead %}

        </head>

        <body style = "background-color:DimGray; ">

            <div class="p-1 mb-2 bg-dark text-white main_menu" id="div_main_menu">

                <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
                    <a class="navbar-brand navbar-brand_15" >

                        {% block header %}
                        {% endblock %}

                        {% if agent.id != 0 %}
                        <!--{{ agent.name }}-->
                        {% elif agent.user.id != None %}
                            Агент не определен!
                        {% endif %}

                    </a>

                    <div>
                        <a href="/"><img src="{% static 'images/home.png' %}">
                            {% include "includes/login.html" %}
                        </a>
                    </div>

                </nav>
            </div>

            <container class="div_fix">
            {% block content %}
            {% endblock %}
            </container>

         </body>

        <div class="footer">
            <div class="p-1 mb-2 bg-dark text-white size_14">
                &copy; ООО "Кофейный Магнат", 2020
            </div>
        </div>
    </html>
