<!DOCTYPE html>
    <html lang="en"; style="background-color:DimGray;">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Рабочий стол агента</title>
            {% load static %}
            <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
             <link rel="stylesheet" href="/static/css/me_css.css" type="text/css">
        </head>

        <body style = "background-color:DimGray;">

            <div class="p-1 mb-2 bg-dark text-white">

                <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
                    <a class="navbar-brand" href="#">
                        {% if agent %}
                            {% block header %}
                            {% endblock %}
                        {% endif %}
                    </a>
                    {% if agent %}
                    <a href="/logout/" class="btn btn-success ml-auto mr-1 btn-sm">Выйти ({{ agent }})</a>
                    {% else %}

                        <a class="form-inline">

                            <form action="/login/" method="post" >
                                {% csrf_token %}

                                <input class= "btn btn-success ml-auto mr-1 btn-sm" type="submit" value="Войти">

                                <div class="col-xs-1">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Введите логин">
                                </div>
                                <div class="col-xs-1">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
                                </div>

                            </form>
                        </a>

                    {% endif %}

                </nav>
            </div>

            {% block content %}
            {% endblock %}

{% for message in messages %}
<div class="message {{ message.tags }}">
{{ message }}
</div>
{% endfor %}


         </body>

        <div class="footer">
            <div class="p-1 mb-2 bg-dark text-white">
<!--                <img src="{% static 'main_menu/image/agent.png' %}" class="img-thumbnail">-->

                &copy; ООО "Кофейный Магнат", 2020
            </div>
        </div>
    </html>