<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рабочий стол агента</title>
    {% load static %}
    <link rel="stylesheet" href="/static/main_menu/css/bootstrap.min.css" type="text/css">
</head>

<body>
<div class="p-3 mb-2 bg-primary text-dark">
  <div class="jumbotron" >
    <div class="container">
      {% block content %}
      {% endblock %}
      <p>
        <a href="/" class="btn btn-success btn-lg">Посещения</a>
        <a href="/news" class="btn btn-info btn-lg">Накладные</a>
      </p>
    </div>
  </div>
</div>

<div class="p-5 mb-2 bg-primary text-white">

    <img src="{% static 'main_menu/image/agent.png' %}" class="img-thumbnail">

    <hr>
    &copy; Все права защищены 2020

</div>
</body>

</html>