{% extends "base.html" %}

{% block content %}
    <div class="p-1 mb-2 bg-dark text-white">
        <p>
            <p>
                Рабочий стол агента: {{ agent }}
            </p>
        </p>
    </div>

    <div class="container-fluid">
        <div class="container">
            <p><a href="/visits" type="button" class="btn btn-primary w-100">Посещения</a></p>
            <p><a href="/reports" type="button" class="btn btn-primary w-100 disabled">Отчеты</a></p>
        </div>
    </div>

<!--<h1>{% include "main_menu/includes/header.html" %}</h1>-->
{% endblock %}


