{% extends "base.html" %}

{% block header %}
    {% if agent.id != 0 %}
        Посещения агента: {{ agent.name }}
    {% elif agent.user.id != None %}
        Агент не определен!
    {% endif %}
{% endblock %}

{% block content %}

    <a href="/visit/new" type="button" class="btn btn-primary" title="Добавить новое посещение">
        <img src="/static/images/add.png" class="img-fluid">
    </a>

    <p class=my_container">
        <table class="table table-striped table-bordered table-hover" white-space: nowrap>
          <thead style="background-color:RoyalBlue;">
            <tr>
              <th>...</th>
              <th>Дата</th>
              <th>Торговая точка</th>
              <th>Результат</th>
              <th>Примечание</th>
            </tr>
          </thead>
        <tbody>
        {% for visit in visit_list %}
            <tr>
                <td>
                     <a href= {{ visit.id }} type="button" class="btn btn-primary" title='Редактировать'>.</a>
                </td>
                <td>{{ visit.visitDate | date:'d.m.yy H:i:s'}}</td>
                <td> {{ visit.shop }} </td>
                <td>{% include "includes/visit_result.html" %}</td>
                <td>{{ visit.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </p>

{% endblock %}

