{% extends "base.html" %}

{% block header %}
Посещение
{% endblock %}

{% block content %}

<form method="POST" class="post-form" id="form_visit">
    {% csrf_token %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/visit.css' %}" type="text/css">

    <div class="label-underline">
        {% include 'includes/visit_result.html' %}
    </div>
    <div class="visit {% if enabled != True %} disabled {% endif %}" id="ddddd">
        {{ form.filter_shop }}
        Торговая точка: {{ form.shop }}
    </div>
    <div class="visit">
        Дата посещения: {{ form.visitDate }}
    </div>
    <div class="visit">
        Время: {{ form.visitTime }}
    </div>
    <div class="visit">
        Примечание: {{ form.note }}
    </div>

    <p>
        <div class="visit">
            {% if enabled == True %}
            <button href="#" type="submit" class="btn btn-primary" >
               Записать и закрыть
            </button>
            {% else %}
            <input value="Закрыть" type="button" onclick="history.back();" class="btn btn-primary">
            </input>
            {% endif %}
        </div>
    </p>

    <script src="{% static 'visits/js/visit.js' %}"></script>

</form>

{% endblock %}

