{% if user.id != None %}
    <a href="/logout/" class="btn btn-success ml-auto mr-1 btn-sm">Выйти ({{ user }})</a>
{% else %}

    <a class="form-inline">

        <form action="/login/" method="post" >
            {% csrf_token %}

            <input class= "btn btn-success ml-auto mr-1 btn-sm" type="submit" value="Войти">

            <div class="col-xs-1">
                <input type="text" class="form-control" id="username" name="username" placeholder="Введите логин">
            </div>
            <div class="col-xs-1">
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
            </div>

        </form>
    </a>

{% endif %}

